@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body, text {
    font-family: 'Montserrat', sans-serif !important;
}

.btn, button {
    @apply font-bold py-1 px-2 rounded bg-blue-500 text-xs text-white;

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &:enabled {
        &:hover {
            @apply bg-blue-700;
        }
    }    
}

.group {
    @apply rounded border my-2 px-2 pb-2;
    .group-title {
        @apply py-1 text-xs;
    }
}

.bg-red {
    background-color: #AA000033; 
}